main {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
}

.gallery-img {
    width: 100%;
    height: auto;
}

.gallery-item {
    position: relative;
}

.gallery-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .6);

    /* position the overlay text centrally */
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* typography */
    /*hide the text by default */
    opacity: 0;
    transition: opacity .5s;
    color: #fff;
}

.content-title {
    font-size: 2rem;
    font-weight: 200;
    padding-bottom: .3em;
    letter-spacing: 2px;
}

.content-subtitle {
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 1px;
}

hr {
    width: 10%;
    margin: 0 auto .5em auto;
}

.gallery-item:hover .gallery-text {
    opacity: 1;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}