.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #262626;
    margin: 5px;
}

/* Tablet devices */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav ul {
        position: absolute;
        right: 0px;
        top: 15vh;
        height: 85vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 50000;
        background: #fff;
        
        /* Reposition the side nav bar off the screen */
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger {
        display: block;
        cursor: pointer;
        position: absolute;
        right: 5%;
    }

    .nav-active {
        /* Reposition the side nav bar to the page on click */
        transform: translateX(0%);
    }
    
    .page-title {
        display: block;
    }

    nav img {
        padding-top: 5px;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
    transition: transform .3s ease-in;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
    transition: transform .3s ease-in;
}