main {
    text-align: center;
}

.music-gallery {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .5em;
}

.gallery-img {
    width: 90%;
}

@media (max-width: 768px) {
    .music-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .music-gallery {
        grid-template-columns: 1fr;
    }
}