nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background: #fff;
    padding: 10px 20px
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

nav li {
    list-style: none;
}

nav a {
    color: var(--primary-color);
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
}

nav a:active,
nav a:focus {
    color: var(--secondary-txt-color);
}

nav a:hover {
    color: var(--secondary-txt-color);
    transition: 0.2s;
    font-weight: 600;
}

nav img {
    width: 100px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: #262626;
    margin: 5px;
}

/* Page title */
.page-title {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.5em;
    display: none;
}

/* Tablet devices */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav ul {
        position: absolute;
        right: 0px;
        top: 10vh;
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 50000;
        background: #fff;
        
        /* Reposition the side nav bar off the screen */
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        /* Reposition the side nav bar to the page on click */
        transform: translateX(0%);
    }
    
    .page-title {
        display: block;
    }

    nav img {
        padding-top: 5px;
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
    transition: transform .3s ease-in;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
    transition: transform .3s ease-in;
}