nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 8vh;
    background: #fff;
    padding: 10px 20px
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

nav li {
    list-style: none;
}

nav a {
    color: var(--primary-color);
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
}

nav a:active,
nav a:focus {
    color: var(--secondary-txt-color);
}

nav a:hover {
    color: var(--secondary-txt-color);
    transition: 0.2s;
    font-weight: 600;
}

nav img {
    width: 100px;
}