/* Colors */
$base-color: #262626;
$secondary-color: #95bdbc;

/* Typography */
$font-stack: 'Lato', Arial, Helvetica, sans-serif;
$thin-text: 300;
$main-header-size: 4.5rem;

/* Navigation */
$nav-bg-color: #ffffff;
